# Logging and utilities
loguru
rich
pydantic

# Langchain packages
langchain-core
langchain-community
langchain
langchain-openai
langsmith
langgraph
langchain-chroma
langchain-huggingface
langchain-tavily

# RAG and Vector Store
chromadb

# Gradio UI
gradio

# PostgreSQL database
psycopg2-binary
pypdf
sqlalchemy

# Transformers and Huggingface
sentence_transformers